@model IEnumerable<NBD2024.Models.BidMaterial>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Materials</h4>
        <div class="card-body">
            @Html.DropDownList("LabourID", null, htmlAttributes: new { @size = 6, @class = "form-control" })
        </div>
    </div>
    <div class="panel-body scrollable-panel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Material
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Materials.Summary)
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>