@model NBD2024.Models.BidLabour

<div class="form-group">
    <label asp-for="HoursQuantity" class="control-label"></label>
    <input asp-for="HoursQuantity" class="form-control" />
    <span asp-validation-for="HoursQuantity" class="text-danger"></span>
</div>
